/*-----------------general--------------------*/

body {
    font-family: 'Fjalla+One', sans-serif;
    color: #212529a8;
}

.homepage {
    width: 100vw;
    height: 100vh;
}
.aboutpage,.contactpage {
    width: 100vw;
    height: auto;
}

/*-----------------navbar---------------------*/

.navbar {
    background-color:transparent;
}

#navbarCollapse {
    margin-right: 20px;
    background-color: transparent;
}

.social-links li a i {
    width: 20px;
    height: 20px;
    padding: 6px 1px;
    border-radius: 30%;
    font-size: 12px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: rgb(0, 0, 0, 0.5);
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}

/*-----------------homepage-----------------------*/

#homepage {
    background: url(images/background.jpg) no-repeat bottom center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.homepage-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.homepage-container .row {
    margin-top: 15%
}

.jumbotron {
    background-color: #18181961;
    color: white;
}

.jombotronline {
    width: 150px;
    border-top: 1.5px solid white;
}

/*-----------------aboutpage-----------------------*/
.name-title-row {
    height: 34vh;
    width: 100vw;
    margin: 0;
    background: url(images/background.jpg) no-repeat bottom center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.name-title-container{
    padding-left: 15px;
    margin-top: 19vh;
    color: white;
}
.aboutme-row {
    height: auto; 
    padding: 1rem 4rem;
}
.name {
    font-size: 2rem;
}
.title {
    font-size: 1.5rem;
    font-weight: 300;
}
.aboutme-row iframe {
    margin-bottom: 20px;
}
button[type="button"]  {
    background-color: #212529a8;
    color: white;
}
/*-----------------contactpage-----------------------*/
.contactpage {
    background-color: #feb567db;
}
.spacing-row {
    height: 20vh;
}
.center-form {
    padding-top: 0;
    margin: 0 auto;
    max-width: 80%;

}
button[type="submit"] {
    margin-top: 11px;
    width: 10em;
    background-color: #212529a8;
}
